# Default owners for everything in the repo
* @MANISHIMWEPacifique @KARAMUZI

# Infrastructure code
/terraform/ @MANISHIMWEPacifique
/ansible/ @KARAMUZI

# CI/CD pipelines
/.github/workflows/ @rusaro isabele

# Security configurations
/security/ @security-engineer
