# Default owners for everything in the repo
* @MANISHIMWEPacifique @KARAMUZI

# Infrastructure code
/terraform/ @MANISHIMWEPacifique
/ansible/ @KARAMUZI

# CI/CD pipelines
/.github/workflows/ @rusaroisabbelle1

# Security configurations
/security/ @uwinezagermaine6
